.menu-bar{
    display: flex;
}
.light{
    background-color: #FFFFFF !important;  
}
.menu{
    background-color: black;
    max-width: 25%;
    min-height: 90vh;
    padding: 3rem 2rem 2rem;
}
.menu-links{
    width: 100%;
}
.menu-links li{
    list-style-type: none;
    margin-top: 2rem;
    width: 100%;
}
.color{
    color: #7C7C7A !important
}
.menu-links a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #C0BFBD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding-left: 1rem;
}
.menu-links a:hover{
    color: rgb(228, 156, 68);
    transform: scale(1.1) ;
}
.menu-links a:hover>.link-icon *{
    stroke:aqua;
    transform: scale(1.06);
} 
.bottom-link{
    margin-top: 10rem !important;
}
.search-box{
    height: 4rem;
    width: 100%;
    background-color: #424444;
    border-radius: 5px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1rem;
}
.search-box-light{
    background-color: #F5F5F5;
}
.search-box input{
    background-color: transparent;
    border: none;
    height: 2rem;
    outline: none;
    width: 70%;
    font-size: 1.5rem;
}
.search-box input::placeholder{
    font-size: 1.5rem;
}
.light-icon{
    display: none;
}
.checkbox{
    background-color: hsl(180, 1%, 26%);
    border-radius: 100px;
    width: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.6s ease-in;
}
.switch-c{
    justify-content: flex-start;
    background-color:#f4f1f1 ;
    box-shadow: 0px 7px 9px rgb(72, 71, 71);
}
.hiddd{
    display: none;
}
.bloccc{
    display: block !important
    
}

.cch a{
    padding: 0;
}
/* перед hover */
.nav-text{
    display: none;
}
input{
    display: none;
}
.link-mode-icon{
    display: none;
}
.menu-links{
    text-align: center;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* після hover */
.menu:hover .nav-text{
    display: block;
    transition: 1s;
} 
.menu:hover input{
    display: block;
} 
.menu:hover .link-mode-icon{
    display: block;
} 
.menu:hover .cch a{
    padding-left: 1rem;
}
