*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
}
.header-container{
    background-color: black;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid white;
    padding-left: 2rem;
}
.avatar{
    min-width: 5%;
}
.header-icon img{
    width: 100%;
}
.header-text>div:nth-child(2){
    color:#C0BFBD;
}
.person-name{
    color: #EFEFEF;
}
